{% extends 'base.html.twig' %}

{% block title %}Paramétrage
{% endblock %}

{% block insideHeader %}
    <section class="content-header">
        <h1>
            Paramétrage
            {# <small>{{ parcour.type }}</small> #}
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>Paramétrage</a>
            </li>
            {# <li class="active">{{ parcour.type }}</li> #}
        </ol>
    </section>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Salle de classe</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th>Nom</th>
                                <th class="pull-right">Action</th>
                            </tr>
                            {% for salle in salles %}
                                <tr>
                                    <td>{{salle.nom}}</td>
                                    <td>
                                        <a class="btn btn-social-icon btn-flickr pull-right" data-target="#modal-default-{{salle.id}}" data-toggle="modal" style="margin-left:10px">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-social-icon btn-flickr pull-right" data-target="#modal-default-sup-{{salle.id}}" data-toggle="modal">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ form_start(form_new,{'action': path('new-salle'), 'method': 'POST'}) }}
                    <div class="input-group margin">
                        {{ form_row(form_new.nom) }}
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" style="position: relative;margin-bottom: -25px;" type="submit">Ajouter</button>
                        </span>
                    </div>
                    {{ form_end(form_new) }}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Nouvelle anné universitaire</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    {% for au in latest_au %}
                        <div class="col-md-6" style="margin-bottom:5px"><button type="button" class="btn btn-block btn-primary btn-sm">{{au.anneUniversitaire}}</button></div>
                    {% endfor %}
                    <a href="{{ path('add-au') }}" class="btn btn-block btn-social btn-linkedin">
                        <i class="fa fa-plus"></i>
                        Ajouter une anné universitaire
                    </a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    {% for salle in salles %}
        <div class="modal fade" id="modal-default-sup-{{salle.id}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <h2 class="modal-title text-center text-red">Voulez-vous vraiment suprimer?</h2>
                    </div>
                    <div class="modal-footer">
                        <a href="{{path('delete-salle',{'id':salle.id})}}" class="btn btn-danger pull-right" type="button">Suprimer</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for salle in salles %}
        <div class="modal fade" id="modal-default-{{salle.id}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <h2 class="modal-title text-center">Renomer</h2>
                    </div>
                    <div class="modal-footer">
                        {{ form_start(view_form[salle.id],{'action': path('edit-salle',{'id':salle.id}), 'method': 'POST'}) }}
                        <div class="box-body">
                            <div class="form-group">
                                {{ form_row(view_form[salle.id].nom) }}
                            </div>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary pull-right" type="submit">Valider</button>
                        </div>
                        {{ form_end(view_form[salle.id]) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('fullcalendar/core/main.min.js') }}"></script>
    <script src="{{ asset('fullcalendar/core/locales/fr.js') }}"></script>
    <script src="{{ asset('fullcalendar/interaction/main.min.js') }}"></script>
    <script src="{{ asset('fullcalendar/daygrid/main.min.js') }}"></script>
    <script src="{{ asset('fullcalendar/timegrid/main.min.js') }}"></script>
{% endblock %}
