{% extends 'base.html.twig' %}

{% block title %}Paramétrage
{% endblock %}

{% block insideHeader %}
<section class="content-header">
  <h1>
    Paramétrage
    {# <small>{{ parcour.type }}</small> #}
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i>Paramétrage</a>
    </li>
    {# <li class="active">{{ parcour.type }}</li> #}
  </ol>
</section>
{% endblock %}

{% block body %}
<div class="col-md-6">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Salle de classe</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th>Nom</th>
            <th class="pull-right">Action</th>
          </tr>
          {% for salle in salles %}
          <tr>
            <td>{{salle.nom}}</td>
            <td>
              <a class="btn btn-social-icon btn-flickr pull-right" data-target="#modal-default-{{salle.id}}" data-toggle="modal" style="margin-left:10px">
                <i class="fa fa-edit"></i>
              </a>
              <a class="btn btn-social-icon btn-dropbox pull-right" data-target="#modal-default-sup-{{salle.id}}" data-toggle="modal">
                <i class="fa fa-remove"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ form_start(form_new,{'action': path('new-salle'), 'method': 'POST'}) }}
      <div class="input-group margin">
        {{ form_row(form_new.nom) }}
        <span class="input-group-btn">
          <button class="btn btn-info btn-flat" style="position: relative;margin-bottom: -25px;" type="submit">Ajouter</button>
        </span>
      </div>
      {{ form_end(form_new) }}
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>

<div class="col-md-6">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Horaire</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th>Heures</th>
            <th class="pull-right">Action</th>
          </tr>
          {% for heure in heures %}
          <tr>
            <td>{{heure.heures}}</td>
            <td>
              <a class="btn btn-social-icon btn-flickr pull-right" data-target="#modal-default-{{heure.id}}" data-toggle="modal" style="margin-left:10px">
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {# {{ form_start(form_new_heures,{'action': path('new-heure'), 'method': 'POST'}) }}
                <div class="input-group margin">
                    {{ form_row(form_new_heures.heures) }}
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat" style="position: relative;margin-bottom: -25px;" type="submit">Ajouter</button>
                    </span>
                </div>
                {{ form_end(form_new_heures) }} #}
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>

<div class="col-md-6">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Changer chef de la Mention</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      <div class="col-md-12" style="margin-bottom:5px">
        <button class="btn btn-block btn-primary btn-sm" type="button">{{chef_mention.chefmention.nom}}
          {{chef_mention.chefmention.prenom}}</button>
      </div>
      <div class="col-md-12" style="margin-bottom:5px">
        {{ form_start(form_chef,{'action': path('change_chef',{'id':chef_mention.id}), 'method': 'POST'}) }}
        <div class="input-group margin">
          {{ form_row(form_chef.chefmention) }}
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat" type="submit">Changer</button>
          </span>
        </div>
        {{ form_end(form_chef) }}
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>

<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Nouvelle année universitaire</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      {% for au in latest_au %}
      <div class="col-md-6" style="margin-bottom:5px">
        <button class="btn btn-block btn-primary btn-sm" type="button">{{au.anneUniversitaire}}</button>
      </div>
      {% endfor %}
      <a href="{{ path('add-au') }}" class="btn btn-block btn-social btn-linkedin">
        <i class="fa fa-plus"></i>
        Ajouter une année universitaire
      </a>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
  <div class="callout callout-info">
    <h4 class="text-center">Front-office</h4>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Présentation générale</h3>
    </div>
    <div class="box-body no-padding">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Modifier</th>
          </tr>
          {% for tranche_2 in second_tranche %}
          <tr id="tr_tranche_2_{{tranche_2.id}}">
            <td id="tranche_2_titre_{{tranche_2.id}}">{{tranche_2.titre}}</td>
            <td id="tranche_2_description_{{tranche_2.id}}">{{tranche_2.description}}</td>
            <td>
                <a class="btn btn-social-icon btn-flickr pull-right" style="margin-left:10px">
                    <i class="fa fa-edit edit_second_tranche" id_titre="tranche_2_titre_{{tranche_2.id}}" id_description="tranche_2_description_{{tranche_2.id}}" id_tr="tr_tranche_2_{{tranche_2.id}}" id_param_gen="{{tranche_2.id}}" ></i>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Notre offre</h3>
    </div>
    <div class="box-body no-padding">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Modifier</th>
          </tr>
          {% for tranche_2 in offre %}
          <tr id="tr_tranche_2_{{tranche_2.id}}">
            <td id="tranche_2_titre_{{tranche_2.id}}">{{tranche_2.titre}}</td>
            <td id="tranche_2_description_{{tranche_2.id}}">{{tranche_2.description}}</td>
            <td>
                <a class="btn btn-social-icon btn-flickr pull-right" style="margin-left:10px">
                    <i class="fa fa-edit edit_second_tranche" id_titre="tranche_2_titre_{{tranche_2.id}}" id_description="tranche_2_description_{{tranche_2.id}}" id_tr="tr_tranche_2_{{tranche_2.id}}" id_param_gen="{{tranche_2.id}}" ></i>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Présentation de bienvenue</h3>
    </div>
    <div class="box-body no-padding">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Modifier</th>
          </tr>
          {% for tranche_2 in welcome_description %}
          <tr id="tr_tranche_2_{{tranche_2.id}}">
            <td id="tranche_2_titre_{{tranche_2.id}}">{{tranche_2.titre}}</td>
            <td id="tranche_2_description_{{tranche_2.id}}">{{tranche_2.description}}</td>
            <td>
                <a class="btn btn-social-icon btn-flickr pull-right" style="margin-left:10px">
                    <i class="fa fa-edit edit_second_tranche" id_titre="tranche_2_titre_{{tranche_2.id}}" id_description="tranche_2_description_{{tranche_2.id}}" id_tr="tr_tranche_2_{{tranche_2.id}}" id_param_gen="{{tranche_2.id}}" ></i>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
<br />

{% for salle in salles %}
<div class="modal fade" id="modal-default-sup-{{salle.id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body row">
        <h2 class="modal-title text-center text-red">Voulez-vous vraiment supprimer?</h2>
      </div>
      <div class="modal-footer">
        <a href="{{path('delete-salle',{'id':salle.id})}}" class="btn btn-danger pull-right" type="button">Suprimer</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for salle in salles %}
<div class="modal fade" id="modal-default-{{salle.id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body row">
        <h2 class="modal-title text-center">Renommer</h2>
      </div>
      <div class="modal-footer">
        {{ form_start(view_form[salle.id],{'action': path('edit-salle',{'id':salle.id}), 'method': 'POST'}) }}
        <div class="box-body">
          <div class="form-group">
            {{ form_row(view_form[salle.id].nom) }}
          </div>
        </div>
        <div class="box-footer">
          <button class="btn btn-primary pull-right" type="submit">Valider</button>
        </div>
        {{ form_end(view_form[salle.id]) }}
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for heure in heures %}
<div class="modal fade" id="modal-default-{{heure.id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body row">
        <h2 class="modal-title text-center">Modifier</h2>
      </div>
      <div class="modal-footer">
        {{ form_start(view_form_heures[heure.id],{'action': path('edit-heure',{'id':heure.id}), 'method': 'POST'}) }}
        <div class="box-body">
          <div class="form-group">
            {{ form_row(view_form_heures[heure.id].heures) }}
          </div>
        </div>
        <div class="box-footer">
          <button class="btn btn-primary pull-right" type="submit">Valider</button>
        </div>
        {{ form_end(view_form_heures[heure.id]) }}
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
{% block javascripts %}
<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<script src="{{ asset('fullcalendar/core/main.min.js') }}"></script>
<script src="{{ asset('fullcalendar/core/locales/fr.js') }}"></script>
<script src="{{ asset('fullcalendar/interaction/main.min.js') }}"></script>
<script src="{{ asset('fullcalendar/daygrid/main.min.js') }}"></script>
<script src="{{ asset('fullcalendar/timegrid/main.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script>
  $('body').on('click','.edit_second_tranche',function(){
    var id_param = $(this).attr('id_param_gen')
    var id_tr = $(this).attr('id_tr')
    var id_titre = $(this).attr('id_titre')
    var id_description = $(this).attr('id_description')
    var titre_content = $('#'+id_titre).text()
    var description_content = $('#'+id_description).text()
    var input = '<tr id="'+id_tr+'"><td><input type="text" name="titre_'+id_param+'" id="titre_'+id_param+'" value="'+titre_content+'"></td><td><input type="textarea" name="description_'+id_param+'" id="description_'+id_param+'" value="'+description_content+'" style="width:100%"></td><td><a class="btn btn-social-icon btn-dropbox pull-right"><i class="glyphicon glyphicon-ok valide_tranche_2" id_tr="'+id_tr+'" id_param="'+id_param+'"></i></a></td></tr>'
    $('#'+id_tr).replaceWith(input)
  })

  $('body').on('click','.valide_tranche_2',function(){
    var id_param = $(this).attr('id_param')
    var id_tr =$(this).attr('id_tr')
    var url = Routing.generate('ajax_modif_param', {'id_param': id_param})
    $.ajax({
        type: 'POST',
        dataType: 'JSON',
        url: url,
        data: {
                id_param : id_param,
                titre : $('#titre_'+id_param).val(),
                description : $('#description_'+id_param).val()
              },
        error : function (){alert('error')},
        success: function (data) {
          var new_content = '<tr id="tr_tranche_2_'+data.id+'"><td id="tranche_2_titre_'+data.id+'">'+data.titre+'</td><td id="tranche_2_description_'+data.id+'">'+data.description+'</td><td><a class="btn btn-social-icon btn-flickr pull-right" style="margin-left:10px"><i class="fa fa-edit edit_second_tranche" id_titre="tranche_2_titre_'+data.id+'" id_description="tranche_2_description_'+data.id+'" id_tr="tr_tranche_2_'+data.id+'" id_param_gen="'+data.id+'" ></i></a></td></tr>'
          $('#'+id_tr).replaceWith(new_content)
        }
    })
  })
  $()
</script>
{% endblock %}
