{% extends 'base.html.twig' %}

{% block title %}Ajouter des notes
    {{ parcour.type }}
{% endblock %}

{% block insideHeader %}
    <section class="content-header">
        <h1>
            Ajouter des notes
            <small>{{ parcour.type }}</small>
        </h1>
        <h1>
            Année universitaire:
            <span class="btn btn-info" type="button">{{ auNow.anneUniversitaire }}</span>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>Ajouter des notes</a>
            </li>
            <li class="active">{{ parcour.type }}</li>
        </ol>
    </section>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {% for niveau in niveaux %}
                        <li class="{% if niveau.id == n %}{{ 'active' }}{% endif %}">
                            <a href="{{ path('note_ajoute',{'type':parcour.id,'niveaux':niveau.id,'semestre':niveau.semestres['0'].id,'au':auid,'ratrapage':rat}) }}">{{ niveau.niveau }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div
                            class="col-md-12">
                            <!-- Custom Tabs (Pulled to the right) -->
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs pull-right">
                                    {% for semestre in semestres %}
                                        <li class="{% if semestre.id == s %}{{ 'active' }}{% endif %}">
                                            <a href="{{ path('note_ajoute',{'type':parcour.id,'niveaux':n,'semestre':semestre.id,'au':auid,'ratrapage':rat}) }}">{{ semestre.semestre }}</a>
                                        </li>
                                    {% endfor %}
                                    <li class="pull-left header">
                                        <i class="fa fa-th"></i>
                                        Semestre</li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1-1">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="box">
                                                    <div class="box-header">
                                                        <h3 class="box-title">Ajouter des notes par niveaux   :</h3>
                                                        <div class="btn-group">
                                                            <button class="btn btn-info" type="button">
                                                                {% if rat == 0 %}
                                                                    {{ 'Premier session' }}
                                                                {% else  %}
                                                                    {{ 'Ratrapage' }}
                                                                {% endif %}
                                                            </button>
                                                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" type="button">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li>
                                                                    <a href="{{ path('note_ajoute',{'type':parcour.id,'niveaux':n,'semestre':s,'au':auid,'ratrapage':'0'}) }}">Premier session</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{ path('note_ajoute',{'type':parcour.id,'niveaux':n,'semestre':s,'au':auid,'ratrapage':'1'}) }}">Ratrapage</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- /.box-header -->
                                                    <div class="box-body">
                                                        <table class="table table-bordered table-striped" id="example1">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Etudiant/EC</th>
                                                                        {% for nd in ecOrd %}
                                                                            <th>{{ nd }}</th>
                                                                        {% endfor %}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% set i = 0 %}
                                                                    {% set countAdd = 0 %}
                                                                    {% set countDel = 0 %}
                                                                    {% for nm in nomOrd %}
                                                                        <tr>
                                                                            <td>{{ nm }}</td>
                                                                            {% set j = 0 %}
                                                                            {% for value in matriceNote[i] %}
                                                                                <td>
                                                                                    {% if value == "déja valider" %}
                                                                                        <p class="text-green">{{ value }}</p>
                                                                                    {% elseif value == 'pas de note premier session' %}
                                                                                        <p class="text-red">{{ value }}</p>
                                                                                    {% elseif value == 'pas de note' %}
                                                                                        {% set countAdd = countAdd + 1 %}
                                                                                        <p class="text-red" id="note{{i}}{{j}}">{{ value }}
                                                                                            {% for e in ec %}
                                                                                                {% if e.id == idEcOrd[j] %}
                                                                                                    <button class="btn btn-social-icon btn-dropbox pull-right" href="{{ path('note_ajoute_formulaire',{ 'etudiant':idEtOrd[i], 'ec':idEcOrd[j], 'semestre':s, 'niveau':n, 'au':auid, 'ratrapage':rat}) }}" class="pull-right noteAdd" id="a{{i}}{{j}}" data-id="note{{i}}{{j}}" data-etudiant="{{idEtOrd[i]}}" data-ec="{{idEcOrd[j]}}" data-semestre="{{s}}" data-niveau="{{n}}" data-au="{{auid}}" data-ratrapage="{{rat}}" data-type="{{parcour.id}}" data-loader="{{asset('assets/loader/ajax-loader-4.gif')}}" data-nbrec="{{nbrEc}}" data-nbret="{{nbrEt}}" data-i="{{i}}" data-j="{{j}}">
                                                                                                        <span class="fa fa-plus"></span>
                                                                                                    </button>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        </p>
                                                                                    {% elseif value < 10 %}
                                                                                        {% set countDel = countDel + 1 %}
                                                                                        <p class="text-red" id="note{{i}}{{j}}">{{ value }}
                                                                                            {% for e in ec %}
                                                                                                {% if e.id == idEcOrd[j] %}
                                                                                                    <button href="#" class="pull-right noteDel btn btn-social-icon btn-google" id="d{{i}}{{j}}" data-id="note{{i}}{{j}}" data-etudiant="{{idEtOrd[i]}}" data-ec="{{idEcOrd[j]}}" data-semestre="{{s}}" data-niveau="{{n}}" data-au="{{auid}}" data-ratrapage="{{rat}}" data-type="{{parcour.id}}" data-loader="{{asset('assets/loader/ajax-loader-4.gif')}}" data-nbrec="{{nbrEc}}" data-nbret="{{nbrEt}}" data-valeur="{{ value }}">
                                                                                                        <span class="fa fa-remove"></span>
                                                                                                    </button>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                            {# <button href="#" class="pull-right noteEdit" id="e{{i}}{{j}}" data-id="note{{i}}{{j}}" data-etudiant="{{idEtOrd[i]}}" data-ec="{{idEcOrd[j]}}" data-semestre="{{s}}" data-niveau="{{n}}" data-au="{{auid}}" data-ratrapage="{{rat}}" data-type="{{parcour.id}}" data-loader="{{asset('assets/loader/ajax-loader-4.gif')}}" data-nbrec="{{nbrEc}}" data-nbret="{{nbrEt}}" data-valeur="{{ value }}">
                                                                                                                                                                                                                                                                                        <span class="fa fa-pencil"></span>
                                                                                                                                                                                                                                                                                    </button> #}

                                                                                        </p>
                                                                                    {% else %}
                                                                                        {% set countDel = countDel + 1 %}
                                                                                        <p id="note{{i}}{{j}}">{{ value }}
                                                                                            {% for e in ec %}
                                                                                                {% if e.id == idEcOrd[j] %}
                                                                                                    <button href="#" class="pull-right noteDel btn btn-social-icon btn-google" id="d{{i}}{{j}}" data-id="note{{i}}{{j}}" data-etudiant="{{idEtOrd[i]}}" data-ec="{{idEcOrd[j]}}" data-semestre="{{s}}" data-niveau="{{n}}" data-au="{{auid}}" data-ratrapage="{{rat}}" data-type="{{parcour.id}}" data-loader="{{asset('assets/loader/ajax-loader-4.gif')}}" data-nbrec="{{nbrEc}}" data-nbret="{{nbrEt}}" data-valeur="{{ value }}">
                                                                                                        <span class="fa fa-remove"></span>
                                                                                                    </button>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                            {# <button href="#" class="pull-right noteEdit" id="e{{i}}{{j}}" data-id="note{{i}}{{j}}" data-etudiant="{{idEtOrd[i]}}" data-ec="{{idEcOrd[j]}}" data-semestre="{{s}}" data-niveau="{{n}}" data-au="{{auid}}" data-ratrapage="{{rat}}" data-type="{{parcour.id}}" data-loader="{{asset('assets/loader/ajax-loader-4.gif')}}" data-nbrec="{{nbrEc}}" data-nbret="{{nbrEt}}" data-valeur="{{ value }}">
                                                                                                                                                                                                                                                                                        <span class="fa fa-pencil"></span>
                                                                                                                                                                                                                                                                                    </button> #}

                                                                                        </p>
                                                                                    {% endif %}
                                                                                </td>
                                                                                <script>
                                                                                    $(function () {
                                                                                        let i = {{ i }}
                                                                                        let j = {{ j }}
                                                                                        $('#a'+i+j).on('click', function (event) {
                                                                                            let id = document.getElementById($(this).attr('id'))
                                                                                            event.preventDefault()
                                                                                            idA = '#' + id.dataset.id
                                                                                            loader = id.dataset.loader
                                                                                            $(idA).html('<img src="' + loader + '" class="text-center"/>')
                                                                                            etudiant = id.dataset.etudiant
                                                                                            ec = id.dataset.ec
                                                                                            semestre = id.dataset.semestre
                                                                                            niveau = id.dataset.niveau
                                                                                            au = id.dataset.au
                                                                                            ratrapage = id.dataset.ratrapage
                                                                                            type = id.dataset.type

                                                                                            $(idA).load(Routing.generate('note_ajoute_formulaire', {
                                                                                                etudiant: etudiant,
                                                                                                ec: ec,
                                                                                                semestre: semestre,
                                                                                                niveau: niveau,
                                                                                                au: au,
                                                                                                ratrapage: ratrapage
                                                                                            }))
                                                                                        })

                                                                                        $('#d'+i+j).on('click', function (event) {
                                                                                            let id = document.getElementById($(this).attr('id'))
                                                                                            event.preventDefault()
                                                                                            idA = '#' + id.dataset.id
                                                                                            loader = id.dataset.loader
                                                                                            $(idA).html('<img src="' + loader + '" class="text-center"/>')
                                                                                            etudiant = id.dataset.etudiant
                                                                                            ec = id.dataset.ec
                                                                                            semestre = id.dataset.semestre
                                                                                            niveau = id.dataset.niveau
                                                                                            au = id.dataset.au
                                                                                            ratrapage = id.dataset.ratrapage
                                                                                            type = id.dataset.type
                                                                                            valeur = id.dataset.valeur

                                                                                            $(idA).load(Routing.generate('confirmeSupressionNote', {
                                                                                                etudiant: etudiant,
                                                                                                ec: ec,
                                                                                                semestre: semestre,
                                                                                                niveau: niveau,
                                                                                                au: au,
                                                                                                ratrapage: ratrapage,
                                                                                                valeur: valeur
                                                                                            }))
                                                                                        })
                                                                                        // $('#e' + i + j).on('click', function (event) {
                                                                                        //     var edit = 1
                                                                                        //     let id = document.getElementById($(this).attr('id'))
                                                                                        //     event.preventDefault()
                                                                                        //     idA = '#' + id.dataset.id
                                                                                        //     loader = id.dataset.loader
                                                                                        //     $(idA).html('<img src="' + loader + '" class="text-center"/>')
                                                                                        //     etudiant = id.dataset.etudiant
                                                                                        //     ec = id.dataset.ec
                                                                                        //     semestre = id.dataset.semestre
                                                                                        //     niveau = id.dataset.niveau
                                                                                        //     au = id.dataset.au
                                                                                        //     ratrapage = id.dataset.ratrapage
                                                                                        //     type = id.dataset.type
                                                                                        //     valeur = id.dataset.valeur

                                                                                        //     $(idA).load(Routing.generate('editNote', {
                                                                                        //         etudiant: etudiant,
                                                                                        //         ec: ec,
                                                                                        //         semestre: semestre,
                                                                                        //         niveau: niveau,
                                                                                        //         au: au,
                                                                                        //         ratrapage: ratrapage,
                                                                                        //         valeur: valeur,
                                                                                        //         edit: edit
                                                                                        //     }))
                                                                                        // })
                                                                                    });
                                                                                </script>
                                                                                {% set j = j+1 %}
                                                                            {% endfor %}
                                                                        </tr>
                                                                        {% set i = i+1 %}
                                                                    {% endfor %}
                                                                    <div id="idCount" data-countadd="{{countAdd}}" data-countdel="{{countDel}}"></div>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
    <script src="{{ asset('dist/js/demo.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {#<script src="{{asset('assets/js/noteAdd.js')}}"></script>
                                        <script src="{{asset('assets/js/noteDel.js')}}"></script>
                                        <script src="{{asset('assets/js/noteEdit.js')}}"></script>#}
{% endblock %}
