{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('fullcalendar/core/main.min.css')}}">
    <link rel="stylesheet" href="{{ asset('fullcalendar/daygrid/main.min.css')}}">
    <link rel="stylesheet" href="{{ asset('fullcalendar/timegrid/main.min.css')}}">
    <style>
        .fc-toolbar.fc-header-toolbar {
            margin-bottom: 1.5em;
            font-size: 0.8em;
        }
    </style>
{% endblock %}

{% block insideHeader %}
    <section class="content-header">
        <h1>
            Accueil
            <small>Tableau de bord</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    Accueil</a>
            </li>
            <li class="active">Tableau de bord</li>
        </ol>
    </section>
{% endblock %}

{% block body %}
<div class="callout callout-info">
    <h4 class="text-center">Nombres des acteurs au seins de la mention électronique</h4>
</div>
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 class="text-center">{{ nbr_etudiant_ac }}</h3>

                <p>Etudiant académique</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a class="small-box-footer" href="{{ path('list',{'type':allTypeParcours['0'].id,'niveaux':allTypeParcours['0'].niveauxs['0'].id}) }}">Plus de détails
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 class="text-center">{{ nbr_etudiant_pro }}</h3>

                <p>Etudiant professionnel</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a class="small-box-footer" href="{{ path('list',{'type':allTypeParcours['1'].id,'niveaux':allTypeParcours['0'].niveauxs['1'].id}) }}">Plus de détails
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{ nbr_enseignant_vac }}</h3>
                <p>Enseignants vacataires</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a class="small-box-footer" href="{{ path('enseignant',{'type':enseignant_type['1'].id}) }}">Plus de détails
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{ nbr_enseignant_per }}</h3>

                <p>Enseignants permanents</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a class="small-box-footer" href="{{ path('enseignant',{'type':enseignant_type['0'].id}) }}">Plus de détails
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="callout callout-info">
    <h4 class="text-center">Calendrier des évènements</h4>
</div>
{# hide if admin #}
<div class="col-lg-6 col-md-12" style="background-color:white;margin-bottom:10px;">
    <a href="{#path('scolarite_add',{'id':etudiant.id})#}#" class="btn btn-block btn-social btn-flickr col-md-3" data-target="#modal-form" data-toggle="modal">
        <i class="fa fa-upload"></i>Ajouter un évènement
    </a>
    <br/>
    {% include '@Calendar/calendar.html' %}
</div>
<div class="col-lg-6 col-md-12">
    <div class="box box-success">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-calendar-minus-o"></i>

            <h3 class="box-title">Information</h3>

        </div>
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;">
            <div class="box-body chat" id="chat-box" style="overflow: hidden; width: auto; height: 300px;">
                {% if  last_information == null %}
                    {{ 'Il n\'y a pas  de publication' }}{% endif %}
                    {% for information in last_information %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="item">
                            <img alt="user image" class="online" src="{% if information.user.etudiant != null %} {{ information.user.etudiant.photo }}{% endif %} {% if information.user.enseignant != null %} {{ information.user.enseignant.photo }} {% endif %}" style="width:50px;height:50px">
                            <p class="message">
                                <a class="name" href="#">
                                    <small class="text-muted pull-right">
                                        <i class="fa fa-clock-o"></i>
                                        {{ information.addAt | date('d/m H:m') }}</small>
                                    {% if information.user.etudiant != null %} 
                                        {{ information.user.etudiant.nom }}
                                        {{ information.user.etudiant.prenom }}
                                    {% endif %}
                                    {% if information.user.enseignant != null  %}
                                        {{ information.user.enseignant.nom }}
                                        {{ information.user.enseignant.prenom }}
                                    {% endif %}
                                </a>
                                {{information.contenu}}
                            </p>
                            <button type="button" class="btn btn-block btn-success btn-xs" data-toggle="modal" data-target="#modal-success-{{ information.id }}">
                                Répondre  <span class="pull-right">(Reponses {{ information.informationChildren|length }})</span>
                            </button>
                        </div>
                        {% else %}
                            {% for niveau in information.niveaux %}
                                {% if app.user.etudiant.niveaux.id == niveau.id %}
                                    <div class="item">
                                        <img alt="user image" class="online" src="{% if information.user.etudiant != null %} {{ information.user.etudiant.photo }}{% endif %} {% if information.user.enseignant != null %} {{ information.user.enseignant.photo }} {% endif %}" style="width:50px;height:50px">
                                        <p class="message">
                                            <a class="name" href="#">
                                                <small class="text-muted pull-right">
                                                    <i class="fa fa-clock-o"></i>
                                                    {{ information.addAt | date('d/m H:m') }}</small>
                                                {% if information.user.etudiant != null %} 
                                                    {{ information.user.etudiant.nom }}
                                                    {{ information.user.etudiant.prenom }}
                                                {% endif %}
                                                {% if information.user.enseignant != null  %}
                                                    {{ information.user.enseignant.nom }}
                                                    {{ information.user.enseignant.prenom }}
                                                {% endif %}
                                            </a>
                                            {{information.contenu}}
                                        </p>
                                        <button type="button" class="btn btn-block btn-success btn-xs" data-toggle="modal" data-target="#modal-success-{{ information.id }}">
                                            Répondre (Reponses {{ information.informationChildren|length }})
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="modal modal-default fade" id="modal-success-{{ information.id }}" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">Réponse ({{ information.informationChildren|length }})</span></button>
                                        <h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body">
                                    {% for information2 in information.informationChildren %}
                                    <div class="item-2">
                                        <p class="message">
                                            <a class="name" href="#">
                                                <small class="text-muted pull-right">
                                                    <i class="fa fa-clock-o"></i>
                                                    {{ information2.addAt | date('d/m H:m') }}</small>
                                                {% if information2.user.etudiant != null %} 
                                                    {{ information2.user.etudiant.nom }}
                                                    {{ information2.user.etudiant.prenom }}
                                                {% endif %}
                                                {% if information2.user.enseignant != null  %}
                                                    {{ information2.user.enseignant.nom }}
                                                    {{ information2.user.enseignant.prenom }}
                                                {% endif %}
                                            </a>
                                            <br/>
                                            {{information2.contenu}}
                                        </p>
                                    </div>
                                    {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        {{ form_start(informationChildren_form_view[information.id],{'action': path('new-information-children',{'id':information.id,'pagination':'0'}), 'method': 'POST'}) }}
                                            <div class="input-group">
                                                {{ form_row( informationChildren_form_view[information.id].contenu ) }}
                                                <div class="input-group-btn">
                                                    <button class="btn btn-success" type="submit">
                                                        <i class="fa fa-send"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        {{ form_end(informationChildren_form_view[information.id]) }}
                                    </div>
                                </div>
                              <!-- /.modal-content -->
                            </div>
                          <!-- /.modal-dialog -->
                        </div>
                    {% endfor %}
                </div>
                <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 184.911px;"></div>
                <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
            <!-- /.chat -->
            <a href="{{path('list_all_info',{'pagination':'0'})}}" class="btn btn-block btn-info btn-xs">Afficher toute les informations</a>
            <div class="box-footer">
                {{ form_start(information_form_view,{'action': path('new-information'), 'method': 'POST'}) }}
                <div class="input-group">
                    {{ form_row(information_form_view.contenu) }}
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-send"></i>
                        </button>
                    </div>
                </div>
                {{ form_row(information_form_view.niveaux) }}
                {{ form_end(information_form_view) }}
            </div>
        </div>
    </div>

	{% if matriceEt != null %}
    	<div class="col-md-12">
			<div class="callout callout-info">
        		<h4 class="text-center">Emploi du temps</h4>
    		</div>
    	     <!-- Custom Tabs (Pulled to the right) -->
    	    <div class="nav-tabs-custom">
    	        <ul class="nav nav-tabs pull-right">
    	          	<li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">{{ semestres_et['1'].nom }}</a></li>
    	          	<li class="active"><a href="#tab_3-2" data-toggle="tab" aria-expanded="true"> {{ semestres_et['0'].nom }}</a></li>
    	          	<li class="pull-left header"><i class="fa fa-th"></i> Emploi du temps</li>
    	        </ul>
    	        <div class="tab-content">
    	          		<!-- /.tab-pane -->
    	          	<div class="tab-pane" id="tab_2-2">
    	          	  	<table class="table table-bordered table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th>JOURS/HEURES</th>
                                    {% for jour in jours %}
                                        <th>{{ jour.jours }}
                                        {% endfor %}
                                    </tr>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% if i == 2 %}
                                    <td>PAUSE PAUSE PAUSE PAUSE PAUSE</td>
                                {% endif %}
                                {% set countadd = 0 %}
                                {% for heure in heures %}
                                    {% if i == 2 %}
                                        <tr>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>{{ heure.heures }}</td>
                                        {% set j = 0 %}
                                        {% for ec in matriceEt['1'][i] %}
                                            <td>
                                                <p class="center" id="eEt{{i}}{{j}}">{{ ec }}
                                                    {% if ec == null %}
                                                        {% set countadd = countadd + 1 %}
                                                    {% endif %}
                                                </p>
                                            </td>
                                            {% set j = j + 1 %}
                                        {% endfor %}
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>
    	          	</div>
    	          <!-- /.tab-pane -->
    	          	<div class="tab-pane active" id="tab_3-2">
    	          	  	<table class="table table-bordered table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th>JOURS/HEURES</th>
                                    {% for jour in jours %}
                                        <th>{{ jour.jours }}
                                        {% endfor %}
                                    </tr>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% if i == 2 %}
                                    <td>PAUSE PAUSE PAUSE PAUSE PAUSE</td>
                                {% endif %}
                                {% set countadd = 0 %}
                                {% for heure in heures %}
                                    {% if i == 2 %}
                                        <tr>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                            <td>PAUSE</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>{{ heure.heures }}</td>
                                        {% set j = 0 %}
                                        {% for ec in matriceEt['0'][i] %}
                                            <td>
                                                <p class="center" id="eEt{{i}}{{j}}">{{ ec }}
                                                    {% if ec == null %}
                                                        {% set countadd = countadd + 1 %}
                                                    {% endif %}
                                                </p>
                                            </td>
                                            {% set j = j + 1 %}
                                        {% endfor %}
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>
    	          	</div>
    	          <!-- /.tab-pane -->
    	        </div>
    	        <!-- /.tab-content -->
    	    </div>
    	      <!-- nav-tabs-custom -->
    	</div>
	{% endif %}


    <div class="modal fade" id="modal-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Ajouter un évènement</h4>
                </div>
                <div class="modal-body">
                    {{ include('school/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
        <script src="{{ asset('fullcalendar/core/main.min.js') }}"></script>
        <script src="{{ asset('fullcalendar/core/locales/fr.js') }}"></script>
        <script src="{{ asset('fullcalendar/interaction/main.min.js') }}"></script>
        <script src="{{ asset('fullcalendar/daygrid/main.min.js') }}"></script>
        <script src="{{ asset('fullcalendar/timegrid/main.min.js') }}"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                var calendarEl = document.getElementById('calendar-holder');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    defaultView: 'dayGridMonth',
                    // editable: true,
                    locale: 'fr',
                    eventSources: [
                        {
                            url: "{{ path('fc_load_events') }}",
                            method: "POST",
                            extraParams: {
                                filters: JSON.stringify({})
                            },
                            failure: () => { // alert("There was an error while fetching FullCalendar!");
                            }
                        },
                    ],
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    plugins: [
                        'interaction', 'dayGrid', 'timeGrid'
                    ], // https://fullcalendar.io/docs/plugin-index
                    timeZone: 'UTC'
                });
                calendar.render();
            });
        </script>
    {% endblock %}
