{% extends 'base.html.twig' %}

{% block title %}Resultat
{% endblock %}
{% block stylesheets %}
    <style>
        .color-palette {
            height: 35px;
            line-height: 35px;
            text-align: center;
        }

        .color-palette-set {
            margin-bottom: 15px;
        }

        .color-palette span {
            display: none;
            font-size: 12px;
        }

        .color-palette:hover span {
            display: block;
        }

        .color-palette-box h4 {
            position: absolute;
            top: 100%;
            left: 25px;
            margin-top: -40px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            display: block;
            z-index: 7;
        }
    </style>
{% endblock %}

{% block insideHeader %}
    <section class="content-header">
        <h1>
            Résultat de la recherche
            {# <small>{{ parcour.type }}</small> #}
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>Résultat de la recherche</a>
            </li>
            {# <li class="active">{{ parcour.type }}</li> #}
        </ol>
    </section>
{% endblock %}

{% block body %}
<style>
    td, th {
    white-space: nowrap;
    overflow: hidden;
}
</style>
    <div class="row">
        <div
            class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title col-md-12">Liste des etudiants</h3>
                                        {# <a href="{{path('list_pdf',{'type':parcour.id,'niveaux':n})}}" class="pull-right btn  btn-social btn-flickr"><i class="fa fa-file-pdf-o"></i> Générer un PDF </a> #}
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-bordered table-striped" id="example1">
                                            <thead>
                                                <tr>
                                                    <th>Nom et Prenom</th>
                                                    <th>Niveau</th>
                                                    <th>Sexe</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for etudiant in etudiants %}
                                                    <tr>
                                                        <td>{{ etudiant.nom }}
                                                            {{ etudiant.prenom }}</td>
                                                        <td>{{ etudiant.niveaux.niveau }}</td>
                                                        <td>{{ etudiant.sexe.sexe }}</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button class="btn btn-info" type="button">Action</button>
                                                                <button aria-expanded="false" class="btn btn-info dropdown-toggle" data-toggle="dropdown" type="button">
                                                                    <span class="caret"></span>
                                                                    <span class="sr-only">Toggle Dropdown</span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    {% if is_granted('ROLE_ADMIN') %}
                                                                        <li>
                                                                            <a href="{{ path('fiche_individuel',{'etudiant':etudiant.id,'type':etudiant.parcour.id,'niveaux':etudiant.niveaux.id}) }}">fiche individuel</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="{{ path('fiche_note',{'etudiant':etudiant.id ,'niveaux':etudiant.niveaux.id,'semestre':etudiant.niveaux.semestres['0'].id,'au':etudiant.anneUniversitaire.id,'ratrapage':'0' })}}">fiche de note</a>
                                                                        </li>
                                                                    {% endif %}
                                                                    <li>
                                                                        <a href="{{ path('etudiant_profile',{'etudiant':etudiant.id})}}">Profile</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Niveau</th>
                                                    <th>Sexe</th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->

        <div
            class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title col-md-12">Liste des enseignants</h3>
                                        {# <a href="{{path('list_pdf',{'type':parcour.id,'niveaux':n})}}" class="pull-right btn  btn-social btn-flickr"><i class="fa fa-file-pdf-o"></i> Générer un PDF </a> #}
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-bordered table-striped" id="example1">
                                            <thead>
                                                <tr>
                                                    <th>Nom et Prenom</th>
                                                    <th>Contact</th>
                                                    <th>Matières enseignées</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for enseignant in enseignants %}
                                                    <tr>
                                                        <td>{{ enseignant.nom }}
                                                            {{ enseignant.prenom }}</td>
                                                        <td>{{ enseignant.contact }}</td>
                                                        <td>
                                                            {% set i = 0 %}
                                                            {% set limit = enseignant.eCs | length %}
                                                            {% for ec in enseignant.eCs %}
                                                                {{ ec.nom }}
                                                                {% if i + 1 < limit  %},
                                                                {% endif %}
                                                                {% set i = i + 1 %}
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            <a href="{{path('enseignant_profile',{'enseignant':enseignant.id})}}" class="btn btn-social-icon btn-dropbox"><i class="fa fa-user"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Contact</th>
                                                    <th>Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
    {#<script src="{{ asset('dist/js/demo.js') }}"></script>#}
    {# // <script>
                    //     $(function () {
                    //         $('#example1').DataTable()
                    //     })
                    // </script> #}
{% endblock %}
