{% extends "CleanBase.html.twig" %}

{% block body %}

    {# <div class="input-group input-group-sm">
        {{ form_row(view_form[etudiant.id].niveaux) }}
        <span class="input-group-btn">
            <button class="btn btn-info btn-flat" type="submit">Valider</button>
        </span>
    </div> #}

    {{ form_start(form) }}
    <div class="input-group">{{ form_row(form.ec) }}
        <span class="input-group-btn">
            <button class="btn btn-primary tatara pull-right">{{ button_label|default('Enregistrer') }}</button>
        </span>
    </div>
    {{ form_end(form) }}
    {# // <script src="{{asset('assets/js/etAdd.js')}}"></script> #}
    <script>
        $(function () {
            $('.tatara').on('click', function (event) {
                var list = document.getElementById('ec_choice_ec');
                var valeur = list.options[list.selectedIndex].value;
                event.preventDefault()
                $.post(Routing.generate('ec_choice', {
                    niveau: niveau,
                    jour: jour,
                    heure: heure,
                    semestre: semestre
                }), {
                    'ec_choice[ec]': valeur
                }, function () {
                    $(idA).html('<img src="' + loader + '" class="text-center"/>')
                    console.log('ok')
                    window.location = Routing.generate('add_etemps', {
                        type: type,
                        niveaux: niveau,
                        semestre: semestre
                    })
                })
            })
        })
    </script>
{% endblock %}
