{% extends "base_pdf.html.twig" %}
{% block config %}
    <div id="root" size="A4">
    {% endblock %}

    {% block return_top %}
        <a href="{{path('etemps',{'type':parcour.id,'niveaux':n,'semestre':s})}}" id="button_generate" class="btn btn-danger">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Retourner à la liste</a>
    {% endblock %}

    {% block return_bottom %}
        <a href="{{path('etemps',{'type':parcour.id,'niveaux':n,'semestre':s})}}" id="button_generate" class="btn btn-danger">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Retourner à la liste</a>
    {% endblock %}

    {% block custom_style %}
        <style type="text/css">
            #custom_table {
                width: 19cm;
                margin-left: 1cm;
            }
            .margin-bottom-2 {
                margin-top: 1cm;
            }
        </style>
    {% endblock %}

    {% block tete %}
        <img src="{{ asset('en_tete/tete.jpg') }}" id="img_head"/>
    {% endblock %}

    {% block body %}
        <h4 class="lead text-center">
            <strong>EMPLOI DU TEMPS
            </strong>
        </h4>
        <table class="table table-bordered" id="custom_table">
            <tr>
                <td>
                    <strong>JOURS</strong>
                </td>
                <td>
                    <strong>HEURES</strong>
                </td>
                <td>
                    <strong>MATIERES</strong>
                </td>
                <td>
                    <strong>ENSEIGNANTS</strong>
                </td>
            </tr>
            {% set i = 0 %}
            {% for j in jours %}
                <tr>
                    <td>
                        {{j.jours}}
                    </td>
                    <td>
                        {% for e in et[i] %}
                            {{e.heure.heures}}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for e in et[i] %}
                            {{e.ec.nom}}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for e in et[i] %}
                            {{e.ec.enseignant.nom}}  {{e.ec.enseignant.prenom}}<br/>
                        {% endfor %}
                    </td>
                </tr>
            {% set i = i + 1 %}
            {% endfor %}
        </table>
    {% endblock %}

    {% block script_function %}
        <script>
            function test() {
                var element = document.getElementById('content');
                html2pdf().from(element).set({
                    margin: 0.1,
                    filename: 'test.pdf',
                    html2canvas: {
                        scale: 5
                    },
                    jsPDF: {
                        orientation: 'portrait',
                        unit: 'in',
                        format: 'letter',
                        compressPDF: false
                    }
                }).save();
            }
        </script>
    {% endblock %}

    {% block footer_pdf %}
        <div class="row">
            <div class="col-md-6">
                <p>
                    La responsable de la mention Electronique
                </p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <p>Antananarivo le
                    {{ "now"|date("d/m/Y") }}
                </p>
            </div>
        </div>
        <p class="margin-bottom-2">RAMANANTSIHOARANA Harisoa Nathalie</p>
    {% endblock %}
