{% extends 'base.html.twig' %}

{% block title %}List enseignant{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}


{% block insideHeader %}
    <section class="content-header">
        <h1>
            Liste des enseignants
            {#<small>{{ parcour.type }}</small>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> enseignants</a></li>
            {#<li class="active">{{ parcour.type }}</li>#}
        </ol>
    </section>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste des enseignants</h3>
                    <a href="{{path('enseignant_pdf',{'type':type})}}" class="pull-right btn  btn-social btn-flickr">
                        <i class="fa fa-file-pdf-o"></i>
                        Générer un PDF
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Contact</th>
                            <th>Matières enseignées</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for enseignant in enseignants %}
                        <tr>
                            <td>{{ enseignant.nom }}  {{ enseignant.prenom }}</td>
                            <td>{{ enseignant.contact }}</td>
                            <td>
                                {% set i = 0 %}
                                {% set limit = enseignant.eCs | length %}
                                {% for ec in enseignant.eCs %}
                                    {{ ec.nom }}
                                    {% if i + 1 < limit  %},{% endif %}
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </td>
                            <td><span class="fa fa-newspaper-o"></span><a href="{{path('enseignant_profile',{'enseignant':enseignant.id})}}"> Profile</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Contact</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{#    {% for enseignant in enseignants %}
        {{ enseignant.nom }}
    {% endfor %}
    {% for i in 0..limit %}
        <a href="{{ path('enseignant',{'offset':i}) }}">{{ i+1 }}</a>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.search) }}
    <button type="submit" class="btn btn-primary">search</button>
    {{ form_end(form) }}#}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
    {#<script src="{{ asset('dist/js/demo.js') }}"></script>#}
    {#<script>
        $(function () {
            $('#example1').DataTable()
        })
    </script>#}
{% endblock %}