{% extends 'base.html.twig' %}

{% block title %}PROFILE ENSEIGNANT
{% endblock %}

{% block insideHeader %}
    <section class="content-header">
        <h1>
            Profile
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>Profile</a>
            </li>
        </ol>
    </section>
{% endblock %}

{% block body %}
<style>
    td, th {
    white-space: nowrap;
    overflow: hidden;
}
</style>
    <div class="row">
        <div
            class="col-md-12">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive" src="{{ asset(enseignant.photo) }}" alt="User profile picture">
                    <h3 class="profile-username text-center">{{ enseignant.nom}}
                        {{ enseignant.prenom }}</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Date de Naissance :</b>
                                    <p class="pull-right">{{ enseignant.dateNaissance | date('d/m/Y') }}</p>
                                </li>
                                <li class="list-group-item">
                                    <b>Lieu de Naissance :</b>
                                    <p class="pull-right">{{ enseignant.lieuxNaissance }}</p>
                                </li>
                                <li class="list-group-item">
                                    <b>Type :</b>
                                    <p class="pull-right">{{ enseignant.type.type }}</p>
                                </li>
                                <li class="list-group-item">
                                    <b>Immatriculation :</b>
                                    <p class="pull-right">{{ enseignant.matricule }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Téléphone :</b>
                                    <p class="pull-right">{{ enseignant.contact }},{{ enseignant.contact2 }},{{enseignant.contact3}}</p>
                                </li>
                                <li class="list-group-item">
                                    <b>Adresse E-mail :</b>
                                    <p class="pull-right">{{ enseignant.mail }}</p>
                                </li>
                                <li class="list-group-item">
                                    <b>Adresse :</b>
                                    <p class="pull-right">{{ enseignant.adresse }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if app.user.enseignant == null  %}
            {% elseif app.user.enseignant.id == enseignant.id %}
                <div class="col-md-3">
                    <a href="{{path('enseignant_edit',{'id':enseignant.id})}}" class="btn btn-block btn-social btn-bitbucket">
                        <i class="fa fa-edit"></i>Modifier profile
                    </a>
                </div>
        {% endif %}
        {% if app.user.enseignant == null %}
            {% elseif app.user.enseignant.id == enseignant.id %}
                <div class="col-md-3">
                    <a href="{{path('app_edit_acces',{'id':app.user.id})}}" class="btn btn-block btn-social btn-bitbucket">
                        <i class="fa fa-lock"></i>Modifier l'accès
                    </a>
                </div>
        {% endif %}
    </div>
    <div class="callout callout-info">
        <h4 class="text-center">Matières enseignées et description:</h4>
    </div>
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                    {% for ec in enseignant.eCs %}
                        <tr>
                            <td>{{ ec.nom | upper }}</td>
                            <td>{{ ec.description}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
<script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
{% endblock %}

