<!DOCTYPE html>
<html lang="en">

<head>
	<title>Electronique</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

	<link rel="stylesheet" href="{{asset('front/css/open-iconic-bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('front/css/animate.css')}}">

	<link rel="stylesheet" href="{{asset('front/css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{asset('front/css/owl.theme.default.min.css')}}">
	<link rel="stylesheet" href="{{asset('front/css/magnific-popup.css')}}">

	<link rel="stylesheet" href="{{asset('front/css/aos.css')}}">

	<link rel="stylesheet" href="{{asset('front/css/ionicons.min.css')}}">

	<link rel="stylesheet" href="{{asset('front/css/flaticon.css')}}">
	<link rel="stylesheet" href="{{asset('front/css/icomoon.css')}}">
	<link rel="stylesheet" href="{{asset('front/css/style.css')}}">
</head>

<body>
	<!-- headr top -->
	<div class="py-2 bg-primary">
		<div class="container">
			<div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
				<div class="col-lg-12 d-block">
					<div class="row d-flex">
						<div class="col-md-5 pr-4 d-flex topper align-items-center">
							<div class="icon bg-fifth mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-map"></span></div>
							<span class="text">ANKATSO</span>
						</div>
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon bg-secondary mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-paper-plane"></span></div>
							<span class="text">electronique@gmail.com</span>
						</div>
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-phone2"></span></div>
							<span class="text">+261330156245</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- headr top -->
	<!-- start nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
		<div class="container d-flex align-items-center">
			<a class="navbar-brand" href="index.html">MENTION ELECTRONIQUE ESPA</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="{{path('accueil')}}" class="nav-link pl-0"><i class="glyphicon glyphicon-log-in"></i>Portail intranet</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<section class="home-slider owl-carousel">
		<div class="slider-item" style="background-image:url('{{asset('front/images/ens.jpg')}}');">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center"
					data-scrollax-parent="true">
					<div class="col-md-8 text-center ftco-animate">
						<h1 class="mb-4">Former des ingénieurs <span>En électronique</span></h1>
						<!-- <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Read More</a></p> -->
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image:url('{{asset('front/images/PLTQ.jpg')}}');">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center"
					data-scrollax-parent="true">
					<div class="col-md-8 text-center ftco-animate">
						<h1 class="mb-4">Et des professionels en<span> Informatique</span></h1>
						<!-- <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Read More</a></p> -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-services ftco-no-pb">
		<div class="container-wrap">
			<div class="row no-gutters">
				<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
					<div class="media block-6 d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-teacher"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Enseignants certifiés</h3>
							<p>Des enseignants diplomés pour bien former les étudiants a devenir un vrai ingénieur.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
					<div class="media block-6 d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-reading"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Des éducations suplémentaires</h3>
							<p>Pour former la comportement des étudiants a s'adapter une fois au travaille.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
					<div class="media block-6 d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-books"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Bibliothéque &amp; Laboratoire</h3>
							<p>Pour approfonidir encore plus les formations des étudiants et mettre en pratique les connaissances acquis.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
					<div class="media block-6 d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-diploma"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Certification</h3>
							<p>Diplôme réconnue par l'Etat et les fonctions publiques.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pt ftc-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
					<div class="text px-4 ftco-animate">
						<h2 class="mb-4">Bienvenue au mention électronique de l'ESPA</h2>
						<p>Description.</p>
						<!-- <p><a href="#" class="btn btn-secondary px-4 py-3">Read More</a></p> -->
					</div>
				</div>
				<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
					<h2 class="mb-4">Notre offre</h2>
					<p>Offre.</p>
					<div class="row mt-5">
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
										class="flaticon-security"></span></div>
								<div class="text">
									<h3>Localisation</h3>
									<p>CUR VONTOVORONA</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
										class="flaticon-reading"></span></div>
								<div class="text">
									<h3>Chef de la Mention</h3>
									<p>RAMANANTSIHOARANA HARISOA Nathalie</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
										class="flaticon-diploma"></span></div>
								<div class="text">
									<h3>Enseignant et professeur diplomés</h3>
									<p>Descrtiption</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
										class="flaticon-education"></span></div>
								<div class="text">
									<h3>Salle de classe suffisante</h3>
									<p>Description</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
										class="flaticon-jigsaw"></span></div>
								<div class="text">
									<h3>Des cours impréssionnants</h3>
									<p>description.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span
										class="flaticon-kids"></span></div>
								<div class="text">
									<h3>Des sports et loisirs</h3>
									<p>description.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4"><span>Enseignants</span> Certifiés</h2>
					<p>Ces enseignants sont toujours prêts pour donner leur maximum pour les étudiants et l'amélioration de la Mention</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url('{{asset('front/images/profil.png')}}');">
							</div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Enseignant1</h3>
							<span class="position mb-2">Enseignant</span>
							<div class="faded">
								<p>Description.</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url('{{asset('front/images/profil.png')}}');">
							</div>
						</div>
						<div class="text pt-3 text-center">
							<h3>RAMANANTSIHOARANA HARISOA NATHALIE</h3>
							<span class="position mb-2">Chef de la mention</span>
							<div class="faded">
								<p>Lorem upsum</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url('{{asset('front/images/profil.png')}}');">
							</div>
						</div>
						<div class="text pt-3 text-center">
							<h3>RASTEFANO ELYSE</h3>
							<span class="position mb-2">Doyen</span>
							<div class="faded">
								<p>Lorem</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url('{{asset('front/images/profil.png')}}');">
							</div>
						</div>
						<div class="text pt-3 text-center">
							<h3>RAKOTOMIRAHO SOLONIAINA</h3>
							<span class="position mb-2">Doyen</span>
							<div class="faded">
								<p>EN</p>
								<ul class="ftco-social text-center">
									<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
									<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
					<h2 class="mb-4"><span>Notre</span> Ecolage</h2>
					<p>En général il y a deux parcours chez nous</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="pricing-entry bg-light pb-4 text-center">
						<div>
							<h3 class="mb-3">Académique L</h3>
							<p><span class="price">Droit:100000Ar</span> <span class="per">/ans</span></p>
						</div>
						<div class="img" style="background-image: url(images/bg_1.jpg);"></div>
						<div class="px-4">
							<p>Lorem ipsum</p>
						</div>
						<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Information</a>
						</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="pricing-entry bg-light pb-4 text-center">
						<div>
							<h3 class="mb-3">Académique M</h3>
							<p><span class="price">Droit:100000Ar</span> <span class="per">/ans</span></p>
						</div>
						<div class="img" style="background-image: url(images/bg_2.jpg);"></div>
						<div class="px-4">
							<p>Lorem ipsum</p>
						</div>
						<p class="button text-center"><a href="#" class="btn btn-secondary px-4 py-3">Information</a>
						</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="pricing-entry bg-light active pb-4 text-center">
						<div>
							<h3 class="mb-3">Professionel LP</h3>
							<p><span class="price">Droit:100000Ar</span> <span class="per">/ans</span></p>
						</div>
						<div class="img" style="background-image: url(images/bg_3.jpg);"></div>
						<div class="px-4">
							<p>Lorem ipsum</p>
						</div>
						<p class="button text-center"><a href="#" class="btn btn-tertiary px-4 py-3">Information</a>
						</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="pricing-entry bg-light pb-4 text-center">
						<div>
							<h3 class="mb-3">Professionel MP</h3>
							<p><span class="price">Droit:100000Ar</span> <span class="per">/ans</span></p>
						</div>
						<div class="img" style="background-image: url(images/bg_5.jpg);"></div>
						<div class="px-4">
							<p>Lorem ipsum</p>
						</div>
						<p class="button text-center"><a href="#" class="btn btn-quarternary px-4 py-3">Information</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-6 col-lg-3">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2">Des questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">E111 ANKATSO</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">0324578956</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span class="text">electronique@electronique.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2">Information</h2>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a href="#">Lorem</a>
								</h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> Dec 25, 2018</a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-5 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a href="#">Lorem</a>
								</h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> Dec 25, 2018</a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="ftco-footer-widget mb-5 ml-md-4">
						<h2 class="ftco-heading-2">Liens</h2>
						<ul class="list-unstyled">
							<li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2">Nous contacter</h2>
						<form action="#" class="subscribe-form">
							<div class="form-group">
								<input type="text" class="form-control mb-2 text-center"
									placeholder="Entrer l'adresse E-mail">
								<input type="submit" value="S'inscrire" class="form-control submit px-3">
							</div>
						</form>
					</div>
					<div class="ftco-footer-widget mb-5">
						<h2 class="ftco-heading-2 mb-0">Connecter avec nous</h2>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This template
						is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" /></svg></div>


	<script src="{{asset('front/js/jquery.min.js')}}"></script>
	<script src="{{asset('front/js/jquery-migrate-3.0.1.min.js')}}"></script>
	<script src="{{asset('front/js/popper.min.js')}}"></script>
	<script src="{{asset('front/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('front/js/jquery.easing.1.3.js')}}"></script>
	<script src="{{asset('front/js/jquery.waypoints.min.js')}}"></script>
	<script src="{{asset('front/js/jquery.stellar.min.js')}}"></script>
	<script src="{{('front/js/owl.carousel.min.js')}}"></script>
	<script src="{{asset('front/js/jquery.magnific-popup.min.js')}}"></script>
	<script src="{{asset('front/js/aos.js')}}"></script>
	<script src="{{asset('front/js/jquery.animateNumber.min.js')}}"></script>
	<script src="{{asset('front/js/scrollax.min.js')}}"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="{{asset('front/js/google-map.js')}}"></script>
	<script src="{{asset('front/js/main.js')}}"></script>

</body>

</html>