{{ form_start(form) }}
<div class="box-body">
    <div class="form-group">
        {{ form_row(form.beginAt) }}
    </div>
    <div class="form-group">
        {{ form_row(form.endAt) }}
    </div>
    <div class="form-group">
        {{ form_row(form.title) }}
    </div>
    <div class="form-group">
        {{ form_row(form.content) }}
    </div>
</div>
<button class="btn btn-danger">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
