<header
    class="main-header">

    <!-- Logo -->
    <a
        href="{{ path('accueil') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>EN</b>ADM</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <b>EN</b>ADMIN</span>
    </a>

    <!-- Header Navbar -->
    <nav
        class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="push-menu" href="#" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul
                class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li
                    class="dropdown messages-menu">
                    <!-- Menu toggle button -->
                    <a href="{{path('front')}}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>

                <li
                    class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a
                        class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <!-- The user image in the navbar-->
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if app.user.enseignant != NULL %}
                                <img src="{{ asset(app.user.enseignant.photo) }}" class="" alt="User Image" style="width:auto;height:20px">
                            {% endif %}
                        {% elseif is_granted('ROLE_USER') %}
                            {% if app.user.etudiant != NULL %}
                                <img src="{{ asset(app.user.etudiant.photo) }}" class="" alt="User Image" style="width:auto;height:20px">
                            {% endif %}
                        {% endif %}
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if app.user.enseignant != NULL %}
                                    {{ app.user.enseignant.nom }}{{ '  ' }}{{ app.user.enseignant.prenom }}
                                {% endif %}
                            {% elseif is_granted('ROLE_USER') %}
                                {% if app.user.etudiant != NULL %}
                                    {{ app.user.etudiant.nom }}{{ '  ' }}{{ app.user.etudiant.prenom }}
                                {% endif %}
                            {% endif %}
                        </span>
                    </a>
                    <ul
                        class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if app.user.enseignant != NULL %}
                                    <img src="{{ asset(app.user.enseignant.photo) }}" class="" alt="User Image">
                                {% endif %}
                            {% elseif is_granted('ROLE_USER') %}
                                {% if app.user.etudiant != NULL %}
                                    <img src="{{ asset(app.user.etudiant.photo) }}" class="" alt="User Image" style="width:auto;height:50%">
                                {% endif %}
                            {% endif %}

                            <p>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if app.user.enseignant != NULL %}
                                        {{ app.user.enseignant.nom }}{{ '  ' }}{{ app.user.enseignant.prenom }}
                                    {% endif %}
                                {% elseif is_granted('ROLE_USER') %}
                                    {% if app.user.etudiant != NULL %}
                                        {{ app.user.etudiant.nom }}{{ '  ' }}{{ app.user.etudiant.prenom }}
                                    {% endif %}
                                {% endif %}
                            </p>
                            <small>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if app.user.enseignant != NULL %}
                                        enseignant
                                        {{app.user.enseignant.type.type}}
                                    {% endif %}
                                {% elseif is_granted('ROLE_USER') %}
                                    {% if app.user.etudiant != NULL %}
                                        {{app.user.etudiant.parcour.type}}
                                    {% endif %}
                                {% endif %}
                            </small>
                        </li>
                    </span>
                </li>
            </span>
        </p>
    </li>
    <!-- Menu Body -->
    <li class="user-body">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center" style="border-radius:2px;background-color:blueSS">
                <a href="#">
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if app.user.enseignant != NULL %}
                            enseignant
                            {{app.user.enseignant.type.type}}
                        {% endif %}
                    {% elseif is_granted('ROLE_USER') %}
                        {% if app.user.etudiant != NULL %}
                            {{app.user.etudiant.parcour.type}}
                            {{ app.user.etudiant.niveaux.nom }}
                        {% endif %}
                    {% endif %}
                </a>
            </div>
        </div>
        <!-- /.row -->
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
        <div class="pull-left">
            <a class="btn btn-default btn-flat" href="  {% if is_granted('ROLE_ADMIN') %}
                                                                        {% if app.user.enseignant != NULL %}
                                                                            {{path('enseignant_profile',{'enseignant':app.user.enseignant.id})}}
                                                                        {% endif %}
                                                                        {% elseif is_granted('ROLE_USER') %}
                                                                            {% if app.user.etudiant != NULL %}
                                                                                {{path('etudiant_profile',{'etudiant':app.user.etudiant.id})}}
                                                                            {% endif %}
                                                                    {% endif %} ">Profile
            </a>
        </div>
        <div class="pull-right">
            <a href="{{ path('app_logout') }}" class="btn btn-default btn-flat">Déconnecter</a>
        </div>
    </li>
</ul></li></ul></div></nav></header>

