<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                {% if is_granted('ROLE_ADMIN') %}
                    {% if app.user.enseignant != NULL %}
                        <img src="{{ asset(app.user.enseignant.photo) }}" class="" alt="User Image" style="width:50px;height:auto">
                    {% endif %}
                {% elseif is_granted('ROLE_USER') %}
                    {% if app.user.etudiant != NULL %}
                        <img src="{{ asset(app.user.etudiant.photo) }}" class="" alt="User Image" style="width:50px;height:auto">
                    {% endif %}
                {% endif %}
            </div>
            <div class="pull-left info">
                {% if is_granted('ROLE_ADMIN') %}
                    {% if app.user.enseignant != NULL %}
                       {{ app.user.enseignant.prenom }}
                    {% endif %}
                {% elseif is_granted('ROLE_USER') %}
                    {% if app.user.etudiant != NULL %}
                        {{ app.user.etudiant.prenom }}
                    {% endif %}
                {% endif %}
                <!-- Status -->
            </div>
        </div>

        <!-- search form (Optional) -->
        {# <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
            </div>
        </form> #}
        {{ render(controller('App\\Controller\\SearchController::index')) }}
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">LISTE ET REPARTITION</li>

            <li class="{% if status == "homme" %} {{ "active" }} {% endif %}"><a href="{{ path('accueil') }}"><i class="fa fa-dashboard"></i> <span>Tableau de bord</span></a></li>

            <li class="treeview {% if status == "listE" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-group"></i> <span>Liste des étudiants</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::listAll')) }}
                </ul>
            </li>

            <li class="treeview {% if status == "listEns" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-group"></i> <span>Liste des enseignants</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::enseignant_type')) }}
                </ul>
            </li>

            <li class="treeview {% if status == "eTemps" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-calendar-o"></i> <span>Emploi du temps</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::emploiDuTemps')) }}
                </ul>
            </li>

            {# <li class="{% if status == "listeEc" %} {{ "active" }} {% endif %}"><a href="{{ path('e_c') }}"><i class="fa  fa-folder-open-o"></i> <span>Liste des EC par enseignant</span></a></li> #}
            {# <li class="{% if status == "UCEC" %} {{ "active" }} {% endif %}"><a href="{{ path('ucList') }}"><i class="fa  fa-folder-open-o"></i> <span>Liste des EC par UE</span></a></li> #}

            <li class="treeview {% if status == "r_u_b_n" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-folder-open-o"></i> <span>Repartition des UE et EC</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::repartition_uc_by_niveau')) }}
                </ul>
            </li>

            {# <li class="treeview {% if status == "listeRep" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-caret-square-o-down"></i> <span>Repartition EC par niveaux</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::repartition')) }}
                </ul>
            </li> #}

            {% if is_granted('ROLE_ADMIN') %}
            <li class="treeview {% if status == "notelist" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-sticky-note-o"></i> <span>Liste des notes</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::noteList')) }}
                </ul>
            </li>
            {% endif %}

            <li class="treeview {% if status == "noteresult" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-pie-chart"></i> <span>Résultats des examens</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::noteResult')) }}
                </ul>
            </li>

            <li class="treeview {% if status == "rep_sale" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-home"></i> <span>Répartition des salles</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::repartition_salle')) }}
                </ul>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
            <li class="header">AJOUT ET MODIFICATION</li>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="{% if status == "addE" %} {{ "active" }} {% endif %}"><a href="{{ path('etudiant_add') }}"><i class="fa fa-user-plus"></i> <span>Ajouter un membre</span></a></li>
            {# <li class="{% if status == "addEns" %} {{ "active" }} {% endif %}"><a href="{{ path('enseignant_add') }}"><i class="fa fa-user-plus"></i> <span>Ajouté enseignant</span></a></li> #}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <li class="treeview {% if status == "noteAjoute" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-pencil"></i> <span>Ajouter des notes</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::noteAjoute')) }}
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="{% if status == "add_ec" %} {{ "active" }} {% endif %}"><a href="{{ path('add_ec') }}"><i class="fa  fa-plus"></i> <span>Ajouter un EC</span></a></li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <li class="{% if status == "addUc" %} {{ "active" }} {% endif %}"><a href="{{ path('add_u_c') }}"><i class="fa  fa-plus"></i> <span>Ajouter un UE</span></a></li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <li class="treeview {% if status == "eTemps" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-calendar-plus-o"></i> <span>Editer l'emploi du temps</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::emploiDuTempsEdit')) }}
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <li class="treeview {% if status == "rep_sale_edit" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-gavel"></i> <span>Edition des salles</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::repartition_salle_2')) }}
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <li class="treeview {% if status == "r_u_b_n_edit" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-th-list"></i> <span>Edition des UE et EC</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::repartition_uc_by_niveau_edit')) }}
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="treeview {% if status == "deliberation" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-graduation-cap"></i> <span>Délibération</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    {{ render(controller('App\\Controller\\TypeParcoursController::deliberation')) }}
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="treeview {% if status == "user" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-lock"></i> <span>Gestion des accès</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('user_etudiant') }}">Etudiant</a></li>
                    <li><a href="{{ path('user_enseignant') }}">Enseignant</a></li>
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="treeview {% if status == "archive" %} {{ "active" }} {% endif %}">
                <a href="#"><i class="fa fa-archive"></i> <span>Consultation globale</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('liste_archive') }}">Liste</a></li>
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class=" {% if status == "archive" %} {{ "active" }} {% endif %}">
                <a href="{{ path('parametrage') }}"><i class="fa fa-gear"></i> <span>Paramétrage</span>
                    <span class="pull-right-container">
                </span>
                </a>
            </li>
            {% endif %}

            {# {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class=" {% if status == "backup" %} {{ "active" }} {% endif %}">
                <a href="{{ path('backup') }}"><i class="fa fa-gear"></i> <span>Sauvagarde et réstoration</span>
                    <span class="pull-right-container">
                </span>
                </a>
            </li>
            {% endif %} #}

        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
