{% extends 'base.html.twig' %}

{% block title %}List enseignant
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}


{% block insideHeader %}
    <section class="content-header">
        <h1>
            Gestions des accès enseignant
            {#<small>{{ parcour.type }}</small>#}
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    Gestions des accès enseignant</a>
            </li>
            {#<li class="active">{{ parcour.type }}</li>#}
        </ol>
    </section>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Gestions des accès enseignant</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered table-striped" id="example1">
                <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Type</th>
                        <th>Statut</th>
                        <th>Rôle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for et in enseignant %}
                        <tr>
                            {% if et.login != null %}
                                <td>{{ et.login.username }}</td>
                            {% else %}
                                <td>Pas d'accès</td>
                            {% endif %}
                            <td>{{ et.nom }}</td>
                            <td>{{ et.prenom }}</td>
                            <td>{{ et.type.type }}</td>
                            {% if et.login != null %}
                                <td>{{et.login.isActive}}</td>
                            {% else %}
                                <td>Pas d'accès</td>
                            {% endif %}
                            {% if et.login != null %}
                                <td>
                                    {% if et.login.roles['0'] == 'ROLE_ADMIN' %}
                                        <a class="btn btn-block btn-social btn-dropbox" data-target="#modal-grant-role-{{et.id}}" data-toggle="modal">
                                            <i class="fa fa-edit"></i>enseignant</a>
                                    {% else %}
                                        <a class="btn btn-block btn-social btn-dropbox" data-target="#modal-grant-role-{{et.id}}" data-toggle="modal">
                                            <i class="fa fa-edit"></i>administrateur</a>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>Pas d'accès</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Parcours</th>
                        <th>Date d'entré</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    {% set i = 0 %}
    {% for et in enseignant %}
        {% if et.login != null %}
        <div class="modal fade" id="modal-grant-role-{{et.id}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Changer de rôle</h4>
                    </div>
                    <div class="modal-body">
                        {{ form_start(view_form[i],{'action': path('change_role',{'id':et.login.id}), 'method': 'POST'}) }}
                        <div class="box-body">
                            <div class="form-group">
                                {{ form_row(view_form[i].roles) }}
                            </div>
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary pull-right" type="submit">Valider</button>
                        </div>
                        {{ form_end(view_form[i]) }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% set i = i + 1 %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
    <script>
        $('#example1').DataTable()
    </script>
{% endblock %}
