{% extends 'base.html.twig' %}

{% block title %}List enseignant
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <style>
        .material-switch > input[type="checkbox"] {
            display: none;
        }

        .material-switch > label {
            cursor: pointer;
            height: 0;
            position: relative;
            width: 40px;
        }

        .material-switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }
        .material-switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }
        .material-switch > input[type="checkbox"]:checked + label::before {
            background: inherit;
            opacity: 0.5;
        }
        .material-switch > input[type="checkbox"]:checked + label::after {
            background: inherit;
            left: 20px;
        }
    </style>
{% endblock %}


{% block insideHeader %}
    <section class="content-header">
        <h1>
            Gestions des accès
            {#<small>{{ parcour.type }}</small>#}
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    Gestions des accès</a>
            </li>
            {#<li class="active">{{ parcour.type }}</li>#}
        </ol>
    </section>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Gestions des accès des étudiants</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered table-striped" id="example1">
                <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Niveau</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for et in etudiant %}
                        <tr>
                            {% if et.login != null %}
                                <td>{{ et.login.username }}</td>
                            {% else %}
                                <td>Pas d'accès</td>
                            {% endif %}
                            <td>{{ et.nom }}</td>
                            <td>{{ et.prenom }}</td>
                            <td>{{ et.niveaux.nom }}</td>
                            {% if et.login != null %}
                                <td>
                                    {% if et.login.isActive == 1 %}
                                        <div class="material-switch">
                                            <input checked class="btn-switch-{{et.id}}" id="someSwitchOptionSuccess-{{et.id}}" name="someSwitchOption001" type="checkbox"/>
                                            <label class="label-success" for="someSwitchOptionSuccess-{{et.id}}"></label>
                                        </div>
                                    {% else %}
                                        <div class="material-switch">
                                            <input class="btn-switch-{{et.id}}" id="someSwitchOptionSuccess-{{et.id}}" name="someSwitchOption001" type="checkbox"/>
                                            <label class="label-success" for="someSwitchOptionSuccess-{{et.id}}"></label>
                                        </div>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>Pas d'accès</td>
                            {% endif %}
                        </tr>
                        <script>
                            $(function () {
                                id = '{{ et.id }}';
                                button = '.btn-switch-'+id;{% if et.login != null %}
                                    send = {{ et.login.id }};
                                {% else %}
                                    send = 3;{% endif %}
                                $(button).click(function () {
                                    $.ajax({
                                        type: 'POST',
                                        dataType: 'JSON',
                                        url: Routing.generate('ajax_change_role', {'id': send}),
                                        data: 'mode=',
                                        success: function (data) {
                                            alert('Statut changer');
                                        }
                                    });
                                });
                            })
                        </script>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $('#example1').DataTable()
    </script>
{% endblock %}
